<%- include('head', {}); %>

<body>
    <%- include('nav-loggedout', {}); %>
    
    <main class="badges-page">
        <section class="section">
            <h1 class="section-title">Badges</h1>
            <p class="section-content">Show Lists help you keep an organized list of each theater show you have seen. </p>
            <a href="/signup"><button class="signup-button">Sign Up</button></a>
        </section>
        
        <section class="section">
            <h1 class="section-title">Shows</h1>
            <div class="badges-display">
                <img src="http://placehold.it/150x150" alt="" class="badge-image">
                <img src="http://placehold.it/150x150" alt="" class="badge-image">
                <img src="http://placehold.it/150x150" alt="" class="badge-image">
                <img src="http://placehold.it/150x150" alt="" class="badge-image">
            </div>
        </section>

       <section class="section">
            <h1 class="section-title">Genres</h1>
            <div class="badges-display">
                <img src="http://placehold.it/150x150" alt="" class="badge-image">
                <img src="http://placehold.it/150x150" alt="" class="badge-image">
                <img src="http://placehold.it/150x150" alt="" class="badge-image">
                <img src="http://placehold.it/150x150" alt="" class="badge-image">
            </div>
        </section> 

        <section class="section badge-suggestion">
            <h1 class="section-title">Suggest a Badge</h1>
            <p class="section-content">Have an idea for a badge or badge series? Enter a comment below!</p>
            <form>
                <label for="badge-name"><span class="visually-hidden">Enter a name for your suggested badge</span></label>
                <input type="text" name="badge-name" placeholder="Badge name" class="badge-name-suggestion" id="badge-name">
                <lable for="badge-suggestion"><span class="visually-hidden">Enter a description of your suggested badge</span></lable>
                <input type="text" name="badge-text-suggestion" placeholder="Badge suggestion here" class="badge-text-suggestion" id="badge-suggestion">
                <button class="submit-button">Submit<span class="visually-hidden">Submit badge suggestion</span></button>
            </form>
        </section>    
        
    </main>

    <%- include('footer', {}); %>
    <%- include('scripts', {}); %>
</body>
</html>