<%- include('head', {}); %>

<body>

<%- include('nav-loggedin', {}); %>
    
    <main class="create-show-list-page">
        <section class="create-show-list-page-header">
            <h1 class="header-title">Show List Editor</h1>
        </section>
        
        <form action="#" method="post">
            
            <div class="form-group">
                <input type="text" class="form-control" name="show-list-title" placeholder="List Title">
                <input type="text" class="form-control" name="show-list-description" placeholder="Show List Description">

            </div>
            
            <div class="form-group">
            <label for="main-list">Main</label>
            <input type="radio" name="list-type" value="main" checked>
            <label for="wish-list">Wish</label>
            <input type="radio" name="list-type" value="wish">
            <label for="trip-list">Trip</label>
            <input type="radio" name="list-type" value="trip" id="trip-list">   
            </div>



                              

                <select name="show-titles">
                    <option value="show1">Show 1</option>
                    <option value="show2">Show 2</option>
                    <option value="show3">Show 3</option>
                    <option value="show4">Show 4</option>
                </select>

                <input type="text" class="form-control" name="show-date" placeholder="Show Date">
                <input type="text" class="form-control" name="show-location" placeholder="Show Location">
                <input type="text" class="form-control" name="show-genres" placeholder="Show Genres">
                <input type="text" class="form-control" name="review" placeholder="Review">

            <div class="form-group">
                <div class="review-rating">
                <h3 class="form header">Review</h3>
                <div>*Review Stars Go Here*</div>
                </div>
            </div>
            
            <div class="form-group">
                <div class="privacy-toggle">
                <h3 class="form header">Privacy</h3>
                <label class="privacy-button">
                    <input type="checkbox" id="privacy-toggle">
                    <div class="slider"></div>
                </label>
                <label for="privacy-toggle" name="privacy-toggle">Private</label>
                </div>
            </div>

            <button class="review-submit" type="submit">Submit<span class="visually-hidden">Submit Review</span></button>
        </form>

        
        
        </section>  
    </main>

    <%- include('footer', {}); %>

    <script src="https://use.fontawesome.com/e656f4498e.js" defer></script>
</body>
</html>