<%- include('head', {}); %>

<body>

<%- include('nav-loggedin', {}); %>
    
    <main class="dashboard-page">
        
        <section class="dashboard-header">
            <h1 class="header-title">Dashboard</h1>
            <a href="#">Edit Profile</a>
            <section class="alerts">
                
                <div class="alert">
                    <div class="alert-header">
                        <h2 class="alert-title">Review Alert</h2>
                        <div class="close-alert">X</div>
                    </div>
                    <p class="alert-text">You saw Hamilton on 1/7/2017.  <a href="#">Click here<span class="visually-hidden">Click here to write a review for Hamilton</span></a> to write a review.</p>
                </div>

                <div class="alert">
                    <div class="alert-header">
                        <h2 class="alert-title">Feature Alert</h2>
                        <div class="close-alert">X</div>
                    </div>
                    <p class="alert-text">You saw 20 shows in 2016.  <a href="#">Click here<span class="visually-hidden">Click here to write a Recap Feature.</span></a> to write a Recap Feature.</p>
                </div>

            </section>
        </section>
        
        <section class="user-profile-reviews">
            <div class="user-profile-reviews-header">
                <h1 class="header-title">Reviews (43)</h1>
                <a href="#">View all<span class="visually-hidden">View all reviews</span></a>
            </div>

            <div class="review">
                <div class="review-summary-header">
                    <h2 class="review-summary-show-name">Book of Mormon</h2>
                    <button class="review-edit-button">Edit<span class="visually-hidden">Edit this review</span></button>
                </div>
                <h3 class="review-summary-title">Super Funny and Fun Show!</h3>
                <div>**Ratings will go here**</div>
                <p class="review-text">This show was incredibly funny. The music was catchy and the acting was suburb. Elder Cunningham was amazing. We couldn’t stop laughing!</p>
            </div>

            <div class="review">
                    <h2 class="review-summary-show-name">Book of Mormon</h2>
                    <button class="review-edit-button">Edit<span class="visually-hidden">Edit this review</span></button>
                <h3 class="review-summary-title">Super Funny and Fun Show!</h3>
                <div>**Ratings will go here**</div>
                <p class="review-text">This show was incredibly funny. The music was catchy and the acting was suburb. Elder Cunningham was amazing. We couldn’t stop laughing!</p>
            </div>

        </section>

        <section class="user-profile-showlists">
            <h1 class="header-title">Show Lists (4)</h1>
            <a href="#">View all<span class="visually-hidden">View all show lists</span></a>

            <div class="showlist-summary">
                <div class="showlist-summary-header">
                    <h2>My Show List</h2>
                    <button class="showlist-main-button">Main<span class="visually-hidden">Main Show List Label</span></button>
                    <button class="showlist-edit-button">Edit<span class="visually-hidden">Edit this show list</span></button>
                </div>
                <p>List of my favorite shows since 2012</p>
                <div class="showlist-stats">
                    <p class="showlist-username">SuperReviewer123</p>
                    <p class="showlist-show-count">Total Shows: 125</p>
                </div>
            </div>

            <div class="showlist-summary">
                <div class="showlist-summary-header">
                    <h2>Ultimate 2017 Broadway Wishlist</h2>
                    <button class="showlist-wish-button">Wish<span class="visually-hidden">Wishlist Show List Label</span></button>
                    <button class="showlist-edit-button">Edit<span class="visually-hidden">Edit this show list</span></button>
                </div>
                <p>List of must-see Broadway shows</p>
                <div class="showlist-stats">
                    <p class="showlist-username">OtherReviewer</p>
                    <p class="showlist-show-count">Total Shows: 10</p>
                </div>
            </div>   

        </section>

        <section class="user-profile-features">
            <h1 class="header-title">Features (3)</h1>
            <a href="#">View all<span class="visually-hidden">View all features</span></a>

            <div class="feature-summary">
                <h2 class="feature-title">2016 Recap: A Year of Muiscals</h2>
                <button class="feature-edit-button">Edit<span class="visually-hidden">Edit this feature</span></button>
                <p class="feature-date">1/1/2017</p>
            </div>

            <div class="feature-summary">
                <h2 class="feature-title">Best Comedy Shows of 2016</h2>
                <button class="feature-edit-button">Edit<span class="visually-hidden">Edit this feature</span></button>                
                <p class="feature-date">12/20/2016</p>
            </div>

        </section>

        <section class="user-profile-badges">
            <h1 class="header-title">Badges (5/100)</h1>
            <div class="badges-display">
                <img src="http://placehold.it/150x150" alt="" class="badge-image">
                <img src="http://placehold.it/150x150" alt="" class="badge-image">
                <img src="http://placehold.it/150x150" alt="" class="badge-image">
                <img src="http://placehold.it/150x150" alt="" class="badge-image">
                <img src="http://placehold.it/150x150" alt="" class="badge-image">
            </div>
        </section>

    </main>

    <%- include('footer', {}); %>


    <script src="https://use.fontawesome.com/e656f4498e.js" defer></script>
</body>
</html>