<%- include('head', {}); %>

<main class="features-page">
        <section class="section">
            <h1 class="section-title">Features</h1>
            <p class="section-content">Show Lists help you keep an organized list of each theater show you have seen. </p>
            <a href="/signup"><button class="signup-button">Sign Up</button></a>
        </section>
        
        <section class="section">
            <h1 class="section-title">Most Recent</h1>
            <div class="feature-summary">
                <h2 class="feature-title">2016 Recap: A Year of Muiscals</h2>
                <p class="feature-date">1/1/2017</p>
            </div>

            <div class="feature-summary">
                <h2 class="feature-title">Best Comedy Shows of 2016</h2>
                <p class="feature-date">12/20/2016</p>
            </div>

            <div class="feature-summary">
                <h2 class="feature-title">Favorite Shows the Past Year</h2>
                <p class="feature-date">12/15/2016</p>
            </div>
        </section>

        <section class="section">
            <h1 class="section-title">Recommended</h1>
            <div class="feature-summary">
                <h2 class="feature-title">Favorite Experimental Plays</h2>
                <p class="feature-date">9/1/2016</p>
            </div>

            <div class="feature-summary">
                <h2 class="feature-title">Female Directors: Top 10 Shows</h2>
                <p class="feature-date">4/5/2016</p>
            </div>
        </section>

    </main>

    <%- include('footer', {}); %>
    <%- include('scripts', {}); %>
</body>
</html>