<%- include('head', {}); %>

<body>
    <%- include('nav-loggedout', {}); %>
    
    <main class="features-page">
        <section class="feature-page-header">
            <h1 class="header-title">Features</h1>
            <p class="header-caption">Show Lists help you keep an organized list of each theater show you have seen. </p>
            <a href="/signup"><button class="signup"></button></a>
        </section>
        
        <section class="feature-section">
            <h1 class="feature-section-title">Most Popular</h1>
            <a href="#">View all<span class="visually-hidden">View the most popular features</span></a>
            
            <div class="feature">
                <h2 class="feature-title">2016 Recap: A Year of Muiscals</h2>
                <p class="feature-date">1/1/2017</p>
            </div>

            <div class="feature">
                <h2 class="feature-title">Best Comedy Shows of 2016</h2>
                <p class="feature-date">12/20/2016</p>
            </div>

            <div class="feature">
                <h2 class="feature-title">Favorite Shows the Past Year</h2>
                <p class="feature-date">12/15/2016</p>
            </div>
        </section>

        <section class="feature-section">
            <h1 class="feature-section-title">Recommended</h1>
            <a href="#">View all<span class="visually-hidden">View recommended features</span></a>
            
            <div class="feature">
                <h2 class="feature-title">Favorite Experimental Plays</h2>
                <p class="feature-date">9/1/2016</p>
            </div>

            <div class="feature">
                <h2 class="feature-title">Female Directors: Top 10 Shows</h2>
                <p class="feature-date">4/5/2016</p>
            </div>
        </section>

    </main>

    <%- include('footer', {}); %>

    <script src="https://use.fontawesome.com/e656f4498e.js" defer></script>
</body>
</html>