    <footer role="contentinfo">
        <div class="social-icons">
            <a href="https://twitter.com/musicalwebdev?lang=en"><span class="visually-hidden">Brittany's Twitter Profile</span><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
            <a href="https://medium.com/@brittanyrw"><span class="visually-hidden">Brittany's Medium Profile</span><i class="fa fa-medium fa-2x" aria-hidden="true"></i></a>
            <a href="https://github.com/brittanyrw"><span class="visually-hidden">Brittany's Github Profile</span><i class="fa fa-github-alt fa-2x" aria-hidden="true"></i></a>
        </div>
        <p class="footer-content">Created by Brittany Walker</p>
    </footer>