<!doctype html>
<html lang="en">
<head>
    <title>BitTheater</title>
    <meta name="description" content="A theater review and show tracking tool">
    <noscript><link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"></noscript>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <% if(user) { %>
    <%- include('nav-loggedin', {}); %>
  <% } else { %>
  	<%- include('nav-loggedout', {}); %>
  <% } %>