<%- include('head', {}); %>

<body>

<%- include('nav-loggedout', {}); %>
    
    <main class="home-page">
        <section class="header-image">
            <img src="http://placehold.it/900x450" alt="header illustration of theater" class="home-image">
            <section class="section-block">
                <p class="header-image-caption">BitTheater is your ultimate theater show resource. Track your shows, share reviews and collect badges.</p>
                <a href="/signup"><button class="signup">Sign Up</button></a>
            </section>
        </section>
        
        <section class="section">
            <img src="http://placehold.it/900x450" alt="illustration of reviews" class="section-image">
            <div class="section-block">
                <h2 class="section-title">Reviews</h2>
                <p class="section-content">Just saw a hit or a flop? Write reviews for theater shows and find recommendations for future shows. </p>
                <button class="section-button">View Reviews</button>
            </div>
        </section>

        <section class="section">
            <img src="http://placehold.it/900x450" alt="illustration of features" class="section-image">
            <div class="section-block">
                <h2 class="section-title">Features</h2>
                <p class="section-content">Recap the past year of shows you have reviewed or highlight your favorite genres with a Feature.</p>
                <button class="section-button">View Features</button>
            </div>
        </section>

        <section class="section">
            <img src="http://placehold.it/900x450" alt="illustration of badges" class="section-image">
            <div class="section-block">
                <h2 class="section-title">Badges</h2>
                <p class="section-content">Collect badges as you write reviews, see shows and meet your favorite actors. </p>
                <button class="section-button">View Badges</button>
            </div>
        </section>
    </main>

    <%- include('footer', {}); %>

    <script src="https://use.fontawesome.com/e656f4498e.js" defer></script>
    <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
  <script src="app.js" type="text/javascript"></script>
</body>
</html>
