<!doctype html>
<html lang="en">
<head>
    <title>BitTheater</title>
    <meta name="description" content="A theater review and show tracking tool">
    <noscript><link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"></noscript>
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <nav>
        <div class="nav-header">
            <a href="#" class="home-page-link"><h1 class="nav-logo">BitTheater</h1></a>
            <a href="/login"><button class="login">Log In</button></a>   
        </div>
        <ul class="navigation-links">
            <li>Home</li>
            <li>Reviews</li>
            <li>Features</li>
            <li>Lists</li>
            <li>Badges</li>         
        </ul>
    </nav>
    
    <main class="home-page">
        <section class="header-image">
            <img src="http://placehold.it/900x350" alt="header illustration of theater">
            <p class="header-image-caption">BitTheater is your ultimate theater show resource. Track your shows, share reviews and collect badges.</p>
            <a href="/signup"><button class="signup"></button></a>
        </section>
        
        <section class="section">
            <img src="http://placehold.it/900x350" alt="illustration of reviews">
            <h2 class="section-title">Reviews</h2>
            <p class="section-content">Just saw a hit or a flop? Write reviews for theater shows and find recommendations for future shows. </p>
            <button class="section-button">View Reviews</button>
        </section>

        <section class="section">
            <img src="http://placehold.it/900x350" alt="illustration of features">
            <h2 class="section-title">Features</h2>
            <p class="section-content">Recap the past year of shows you have reviewed or highlight your favorite genres with a Feature.</p>
            <button class="section-button">View Features</button>
        </section>

        <section class="section">
            <img src="http://placehold.it/900x350" alt="illustration of badges">
            <h2 class="section-title">Badges</h2>
            <p class="section-content">Collect badges as you write reviews, see shows and meet your favorite actors. </p>
            <button class="section-button">View Badges</button>
        </section>
    <main>

    <footer role="contentinfo">
        <div class="social-icons">
            <a href="https://twitter.com/musicalwebdev?lang=en"><span class="visually-hidden">Brittany's Twitter Profile</span><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
            <a href="https://medium.com/@brittanyrw"><span class="visually-hidden">Brittany's Medium Profile</span><i class="fa fa-medium fa-2x" aria-hidden="true"></i></a>
            <a href="https://github.com/brittanyrw"><span class="visually-hidden">Brittany's Github Profile</span><i class="fa fa-github-alt fa-2x" aria-hidden="true"></i></a>
        </div>
        <p class="footer-content">Created by Brittany Walker</p>
    </footer>

<!-- <div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Node Authentication</h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>
    </div>

</div> -->

<script src="https://use.fontawesome.com/e656f4498e.js" defer></script>
</body>
</html>
