<%- include('head', {}); %>

    <main class="home-page">
        <section class="header-section">
            <div class="header-image-section">
            <%- include('home-illustration', {}); %>      
            </div>
            <section class="header-section-block">
                <p class="header-section-content">BitTheater is your ultimate theater show resource. Track your shows, share reviews and collect badges.</p>
                <a href="/signup"><button class="signup-button">Sign Up</button></a>
            </section>
        </section>
        
        <section class="section home-reviews-section">
            <img src="imgs/home-reviews.svg" alt="illustration of reviews" class="section-image" align="left">
            <div class="section-block">
                <h2 class="section-title">Reviews</h2>
                <p class="section-content">Just saw a hit or a flop? Write reviews for theater shows and find recommendations for future shows. </p>
                <a href="/reviews"><button class="section-button">View Reviews</button></a>
            </div>
        </section>

        <section class="section home-list-section">
            <img src="imgs/home-lists.svg" alt="illustration of show lists" class="section-image">
            <div class="section-block">
                <h2 class="section-title">Show Lists</h2>
                <p class="section-content">Show Lists help you keep an organized list of each theater show you have seen. </p>
                <a href="/badges"><button class="section-button">View Show Lists</button></a>
            </div>
        </section>        

<!--         <section class="section home-features-section">
            <img src="http://placehold.it/900x550" alt="illustration of features" class="section-image" align="left">
            <div class="section-block">
                <h2 class="section-title">Features</h2>
                <p class="section-content">Recap the past year of shows you have reviewed or highlight your favorite genres with a Feature.</p>
                <a href="/features"><button class="section-button">View Features</button></a>
            </div>
        </section> -->

        <section class="section home-badges-section">
            <img src="imgs/home-badges.svg" alt="illustration of badges" class="section-image" align="left">
            <div class="section-block">
                <h2 class="section-title">Badges</h2>
                <p class="section-content">Collect badges as you write reviews, see shows and meet your favorite actors. </p>
                <a href="/badges"><button class="section-button">View Badges</button></a>
            </div>
        </section>
    </main>

    <%- include('footer', {}); %>
    <%- include('scripts', {}); %>
</body>
</html>
