<%- include('head', {}); %>

<body>

<%- include('nav-loggedout', {}); %>
    
    <main class="home-page">
        <section class="header-image">
            <img src="http://placehold.it/900x450" alt="header illustration of theater" class="home-image">
            <p class="header-image-caption">BitTheater is your ultimate theater show resource. Track your shows, share reviews and collect badges.</p>
            <a href="/signup"><button class="signup">Sign Up</button></a>
        </section>
        
        <section class="section">
            <img src="http://placehold.it/900x450" alt="illustration of reviews" class="home-image">
            <div class="section-block">
                <h2 class="section-title">Reviews</h2>
                <p class="section-content">Just saw a hit or a flop? Write reviews for theater shows and find recommendations for future shows. </p>
                <button class="section-button">View Reviews</button>
            </div>
        </section>

        <section class="section">
            <img src="http://placehold.it/900x450" alt="illustration of features" class="home-image">
            <div class="section-block">
                <h2 class="section-title">Features</h2>
                <p class="section-content">Recap the past year of shows you have reviewed or highlight your favorite genres with a Feature.</p>
                <button class="section-button">View Features</button>
            </div>
        </section>

        <section class="section">
            <img src="http://placehold.it/900x450" alt="illustration of badges" class="home-image">
            <div class="section-block">
                <h2 class="section-title">Badges</h2>
                <p class="section-content">Collect badges as you write reviews, see shows and meet your favorite actors. </p>
                <button class="section-button">View Badges</button>
            </div>
        </section>
    </main>

    <%- include('footer', {}); %>

<!-- <div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Node Authentication</h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>
    </div>

</div> -->

    <script src="https://use.fontawesome.com/e656f4498e.js" defer></script>
</body>
</html>
