<nav>
    <div class="nav-header">
        <i class="fa fa-bars fa-2x" aria-hidden="true" aria-label="Menu" aria-controls="navigation"></i>   
        <a href="/dashboard" class="home-page-link"><img src="imgs/logo.svg" alt="BitTheater logo image" class="logo"></a>
        <a href="/dashboard"><i class="fa fa-user-circle-o fa-2x" aria-hidden="true"><span class="visually-hidden">View your User Dashboard</span></i></a>
        <ul class="navigation-links">
            <li><a href="/reviews">Reviews</a></li>
            <li><a href="/features">Features</a></li>
            <li><a href="/showlists">Lists</a></li>
            <li><a href="/badges">Badges</a></li>     
            <li><a href="/logout">Log Out</a></li>       
        </ul>    
    </div>
</nav>