<nav>
    <div class="nav-header">
        <a href="#" class="home-page-link"><img src="imgs/logo.svg" alt="BitTheater logo image"></a>
        <a href="/login"><button class="login">Log In</button></a>   
    </div>
    <ul class="navigation-links">
        <a href="/"><li>Home</li></a>
        <a href="/reviews"><li>Reviews</li></a>
        <a href="/features"><li>Features</li></a>
        <a href="/showlists"><li>Lists</li></a>
        <a href="/badges"><li>Badges</li></a>       
    </ul>
    <input type="text" name="search" placeholder="Search.." class="search-bar">
</nav>