<nav>
    <div class="nav-header">
        <a href="/dashboard" class="home-page-link"><img src="imgs/logo.svg" alt="BitTheater logo image" class="logo"></a>
        <ul class="navigation-links">
            <li><a href="/reviews">Reviews | </a></li>
            <li><a href="/features">Features | </a></li>
            <li><a href="/showlists">Lists | </a></li>
            <li><a href="/badges">Badges | </a></li> 
            <li><a href="/logout">Log Out</a></li>  
            <li><a href="/logout"><span class="nav-dashboard">Dashboard</span></a></li> 
            <li><a href="/logout"><span class="nav-profile">Profile</span></a></li>          
        </ul>    
<!--         <ul class="navigation-links">
            <li><a href="/logout"><span class="nav-dashboard">Dashboard</span></a></li> 
            <li><a href="/logout"><span class="nav-profile">Profile</span></a></li> 
        </ul> -->
    </div>
    <input type="text" name="search" placeholder="Search" class="search-bar">
</nav>