<nav>
    <div class="nav-header">
        <a href="/" class="home-page-link"><img src="imgs/logo.svg" alt="BitTheater logo image" class="logo"></a>
        <ul class="navigation-links">
            <li><a href="/reviews">Reviews</a></li>
            <li><a href="/features">Features</a></li>
            <li><a href="/showlists">Lists</a></li>
            <li><a href="/badges">Badges</a></li> 
            <li class="logout"><a href="/logout">Log Out</a></li>         
        </ul>    
    </div>
    <input type="text" name="search" placeholder="Search" class="search-bar">
</nav>