<%- include('head', {}); %>

<body>

<%- include('nav-loggedin', {}); %>
    
    <main class="profile-page">
        
        <section class="profile-info">
            <img src="http://placehold.it/100x100" class="profile-image" alt="profile image"></img>
            <div class="user-info">
                <h2 class="profile-username">MusicalGeek123</h2>
                <p class="user-join-date">Join Date: 4/1/2016</p>
                <p class="user-location">Washington, DC</p>
            </div>
            <div class="profile-text">
                <p class="profile-user-summary"><strong>Summary:</strong> I love all types of shows from musicals to plays.</p>
                <p class="profile-user-favorite-show"><strong>Favorite Show:</strong> Great Comet of 1812</p>
            </div>
        </section>
        
        <section class="user-profile-reviews">
            <div class="user-profile-reviews-header">
                <h1 class="header-title">Reviews (43)</h1>
                <a href="#">View all<span class="visually-hidden">View all reviews</span></a>
            </div>

            <div class="review">
                <h2>Book of Mormon</h2>
                <h3>Super Funny and Fun Show!</h3>
                <div>**Ratings will go here**</div>
                <p>This show was incredibly funny. The music was catchy and the acting was suburb. Elder Cunningham was amazing. We couldn’t stop laughing!</p>
            </div>

            <div class="review">
                <h2>Book of Mormon</h2>
                <h3>Super Funny and Fun Show!</h3>
                <div>**Ratings will go here**</div>
                <p>This show was incredibly funny. The music was catchy and the acting was suburb. Elder Cunningham was amazing. We couldn’t stop laughing!</p>
            </div>

        </section>

        <section class="user-profile-showlists">
            <h1 class="header-title">Show Lists (4)</h1>
            <a href="#">View all<span class="visually-hidden">View all show lists</span></a>

            <div class="showlist-summary">
                <div class="showlist-summary-header">
                    <h2>My Show List</h2>
                    <button class="showlist-main-button">Main<span class="visually-hidden">Main Show List Label</span></button>
                </div>
                <p>List of my favorite shows since 2012</p>
                <div class="showlist-stats">
                    <p class="showlist-username">SuperReviewer123</p>
                    <p class="showlist-show-count">Total Shows: 125</p>
                </div>
            </div>

            <div class="showlist-summary">
                <div class="showlist-summary-header">
                    <h2>Ultimate 2017 Broadway Wishlist</h2>
                    <button class="showlist-wish-button">Wish<span class="visually-hidden">Wishlist Show List Label</span></button>
                </div>
                <p>List of must-see Broadway shows</p>
                <div class="showlist-stats">
                    <p class="showlist-username">OtherReviewer</p>
                    <p class="showlist-show-count">Total Shows: 10</p>
                </div>
            </div>   

        </section>

        <section class="user-profile-features">
            <h1 class="header-title">Features (3)</h1>
            <a href="#">View all<span class="visually-hidden">View all features</span></a>
        </section>

        <section class="user-profile-badges">
            <h1 class="header-title">Badges (5/100)</h1>
        </section>

    </main>

    <%- include('footer', {}); %>


    <script src="https://use.fontawesome.com/e656f4498e.js" defer></script>
</body>
</html>