<!doctype html>
<html lang="en">
<head>
    <title>BitTheater</title>
    <meta name="description" content="A theater review and show tracking tool">
    <noscript><link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"></noscript>
    <!-- <link rel="stylesheet" type="text/css" href="reset.css"> --> 
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <nav>
        <div class="nav-header">
            <a href="#" class="home-page-link"><svg class="nav-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 392.43 96.37"><defs><style>.cls-1{isolation:isolate;}.cls-2{mix-blend-mode:multiply;}.cls-3,.cls-5{font-size:72px;stroke-miterlimit:10;stroke-width:2px;font-family:AmericanTypewriter, American Typewriter;}.cls-3{fill:#aa9f9f;stroke:#aa9f9f;}.cls-4{font-family:AmericanTypewriter-Bold, American Typewriter;font-weight:700;}.cls-5{fill:#ffad0d;stroke:#001f3f;}</style></defs><title>logo</title><g class="cls-1"><g id="Layer_1" data-name="Layer 1"><g class="cls-2"><text class="cls-3" transform="translate(3 64.19)">Bit<tspan class="cls-4" x="100.94" y="0">Theater</tspan></text></g><text class="cls-5" transform="translate(1 61.19)">Bit<tspan class="cls-4" x="100.94" y="0">Theater</tspan></text></g></g></svg></a>
            <a href="/login"><button class="login">Log In</button></a>   
        </div>
        <ul class="navigation-links">
            <a href="/"><li>Home</li></a>
            <a href="/reviews"><li>Reviews</li></a>
            <a href="/features"><li>Features</li></a>
            <a href="/showlists"><li>Lists</li></a>
            <a href="/badges"><li>Badges</li></a>       
        </ul>
        <input type="text" name="search" placeholder="Search.." class="search-bar">
    </nav>
    
    <main class="review-page">
        <section class="review-page-header">
            <h1 class="header-title">Reviews</h1>
            <p class="header-caption">Just saw a hit or a flop? Write reviews for theater shows and find recommendations for future shows.</p>
            <a href="/signup"><button class="signup"></button></a>
        </section>
        
        <section class="review-section">
            <h1 class="review-section-title">Recent</h1>
            <a href="#">View all<span class="visually-hidden">View all recent reviews</span></a>
            
            <div class="review">
                <h2>Book of Mormon</h2>
                <h3>Super Funny and Fun Show!</h3>
                <div>**Ratings will go here**</div>
                <p>This show was incredibly funny. The music was catchy and the acting was suburb. Elder Cunningham was amazing. We couldn’t stop laughing!</p>
            </div>

            <div class="review">
                <h2>Book of Mormon</h2>
                <h3>Super Funny and Fun Show!</h3>
                <div>**Ratings will go here**</div>
                <p>This show was incredibly funny. The music was catchy and the acting was suburb. Elder Cunningham was amazing. We couldn’t stop laughing!</p>
            </div>

            <div class="review">
                <h2>Book of Mormon</h2>
                <h3>Super Funny and Fun Show!</h3>
                <div>**Ratings will go here**</div>
                <p>This show was incredibly funny. The music was catchy and the acting was suburb. Elder Cunningham was amazing. We couldn’t stop laughing!</p>
            </div>                   
        </section>

        <section class="review-section">
            <h1 class="review-section-title">Broadway Shows</h1>
            <a href="#">View all<span class="visually-hidden">View all broadway show reviews</span></a>
            
            <div class="review">
                <h2>Hamilton</h2>
                <h3>The cast is amazing.</h3>
                <div>**Ratings will go here**</div>
                <p>Hamilton lives up to the hype! The cast was energetic and lively. The dancing was amazing. We had an amazing time. I highly recommend this show!</p>
            </div>

            <div class="review">
                <h2>Hamilton</h2>
                <h3>The cast is amazing.</h3>
                <div>**Ratings will go here**</div>
                <p>Hamilton lives up to the hype! The cast was energetic and lively. The dancing was amazing. We had an amazing time. I highly recommend this show!</p>
            </div>

            <div class="review">
                <h2>Hamilton</h2>
                <h3>The cast is amazing.</h3>
                <div>**Ratings will go here**</div>
                <p>Hamilton lives up to the hype! The cast was energetic and lively. The dancing was amazing. We had an amazing time. I highly recommend this show!</p>
            </div>               
        </section>

        <section class="review-section">
            <h1 class="review-section-title">Off-Broadway Shows</h1>
            <a href="#">View all<span class="visually-hidden">View all off-broadway show reviews</span></a>
            
            <div class="review">
                <h2>Avenue Q</h2>
                <h3>Puppets and comedy!</h3>
                <div>**Ratings will go here**</div>
                <p>Avenue Q is one of the best comedy shows playing right now. The show is funny, heartwarming and fun. </p>
            </div>              
        </section>

    <main>

    <footer role="contentinfo">
        <div class="social-icons">
            <a href="https://twitter.com/musicalwebdev?lang=en"><span class="visually-hidden">Brittany's Twitter Profile</span><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
            <a href="https://medium.com/@brittanyrw"><span class="visually-hidden">Brittany's Medium Profile</span><i class="fa fa-medium fa-2x" aria-hidden="true"></i></a>
            <a href="https://github.com/brittanyrw"><span class="visually-hidden">Brittany's Github Profile</span><i class="fa fa-github-alt fa-2x" aria-hidden="true"></i></a>
        </div>
        <p class="footer-content">Created by Brittany Walker</p>
    </footer>

    <script src="https://use.fontawesome.com/e656f4498e.js" defer></script>
</body>
</html>