<!-- page to display showlists main page for all users  -->

<%- include('head', {}); %>

 <main class="showlists-page">
        <div class="header-image-section">
            <img src="imgs/Lists-Illustration.svg" class="lists-illustration">
        </div>

        <section class="section">
            <h1 class="section-title">Show Lists</h1>
            <p class="title-section-content">Show Lists help you keep an organized list of each theater show you have seen. </p>
            <a href="/signup"><button class="signup-button">Sign Up</button></a>
        </section>
        
        <section class="section">
            <h1 class="section-title">Most Popular</h1>
            
            <div class="showlist-summary">
                <div class="showlist-summary-header">
                    <h2 class="showlist-title">My Show List</h2>
                    <button class="showlist-main-button">Main<span class="visually-hidden">Main Show List Label</span></button>
                </div>

                <p class="showlist-content">List of my favorite shows since 2012</p>

                <div class="showlist-stats">
                    <p class="showlist-username">SuperReviewer123</p>
                    <p class="showlist-show-count">Total Shows: 125</p>
                </div>
            </div>
            
            <div class="showlist-summary">
                <div class="showlist-summary-header">
                    <h2 class="showlist-title">Ultimate 2017 Broadway Wishlist</h2>
                    <button class="showlist-wish-button">Wish<span class="visually-hidden">Wishlist Show List Label</span></button>
                </div>
                <p class="showlist-content">List of must-see Broadway shows</p>
                <div class="showlist-stats">
                    <p class="showlist-username">OtherReviewer</p>
                    <p class="showlist-show-count">Total Shows: 10</p>
                </div>
            </div>                 
        </section>

         <section class="section">
            <h1 class="section-title">Wish Lists</h1>
            
            <div class="showlist-summary">
                <div class="showlist-summary-header">
                    <h2 class="showlist-title">Comedic Plays Wishlist</h2>
                    <button class="showlist-wish-button">Wish<span class="visually-hidden">Wishlist Show List Label</span></button>
                </div>
                <p class="showlist-content">List of upcoming comedy plays</p>
                <div class="showlist-stats">
                    <p class="showlist-username">ReviewerPerson</p>
                    <p class="showlist-show-count">Total Shows: 15</p>
                </div>
            </div>
            
            <div class="showlist-summary">
                <div class="showlist-summary-header">
                    <h2 class="showlist-title">Experimental Plays Wishlist</h2>
                    <button class="showlist-wish-button">Wish<span class="visually-hidden">Wishlist Show List Label</span></button>
                </div>
                <p class="showlist-content">List of upcoming experimental shows</p>
                <div class="showlist-stats">
                    <p class="showlist-username">CriticPerson</p>
                    <p class="showlist-show-count">Total Shows: 5</p>
                </div>
            </div>                 
        </section>

        <section class="section">
            <h1 class="section-title">Travel Lists</h1>
            <div class="showlist-summary">
                <div class="showlist-summary-header">
                    <h2 class="showlist-title">NYC April List</h2>
                    <button class="showlist-trip-button">Trip<span class="visually-hidden">Trip Show List Label</span></button>
                </div>
                <p class="showlist-content">List of shows for April trip.</p>
                <div class="showlist-stats">
                    <p class="showlist-username">MusicalGeek</p>
                    <p class="showlist-show-count">Total Shows: 6</p>
                </div>
            </div>
        </section>             

    </main>

    <%- include('footer', {}); %>
    <%- include('scripts', {}); %>
</body>
</html>