<%- include('head', {}); %>

<body>

<%- include('nav-loggedout', {}); %>
    
    <main class="signup-page">        
        <section class="signup-form">
        <h1 class="signup-page-title">Sign Up</h1>
        <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
        <% } %>

    <form action="/signup" method="post">
        <div class="form-section">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="email" id="email">
        </div>
        <div class="form-section">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password">
        </div>

        <button class="signup-submit" type="submit">Sign Up<span class="visually-hidden">Sign Up for an account</span></button>
    </form>

    <p>Already have an account? <a href="/login">Login</a></p>
        </section> 
        
    </main>

    <%- include('footer', {}); %>

    <script src="https://use.fontawesome.com/e656f4498e.js" defer></script>
</body>
</html>
