<%- include('head', {}); %>

<main class="signup-page">        
        <section class="section signup-form">
            <h1 class="section-title">Sign Up</h1>
            <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>

            <form action="/signup" method="post">
                <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" name="email" id="email" placeholder="hello@email.com" required>
                </div>
                <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="*********"required>
                </div>
                <div class="form-submit">
                    <button class="signup-submit signup-button" type="submit">Sign Up<span class="visually-hidden">Sign Up for an account</span></button>
                </div>
            </form>

            <p class="form-link">Already have an account? <a href="/login">Login</a></p>
        </section> 
        
    </main>

    <%- include('footer', {}); %>
    <%- include('scripts', {}); %>

</body>
</html>

//make profile form and profile page
