<%- include('head', {}); %>

<body>

<%- include('nav-loggedin', {}); %>
    
    <main class="home-page">
        <section class="header-image">
            <img src="http://placehold.it/900x450" alt="header illustration of theater" class="home-image">
            <p class="header-image-caption">BitTheater is your ultimate theater show resource. Track your shows, share reviews and collect badges.</p>
            <a href="/signup"><button class="signup">Sign Up</button></a>
        </section>
        
        
    </main>

    <%- include('footer', {}); %>

    <script src="https://use.fontawesome.com/e656f4498e.js" defer></script>
</body>
</html>
