* {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  height: 100%; }
  @media only screen and (min-width: 641px) {
    body {
      background: #2A3641; } }

@media only screen and (min-width: 641px) {
  main, nav {
    background: white;
    max-width: 80%;
    margin: 0 auto;
    padding: 30px; } }

.section-title {
  color: #2A3641;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 10px; }

.header-section-content {
  font-size: 25px; }

@media only screen and (min-width: 641px) {
  .home-illustration {
    width: 80%;
    border-left: 7px solid #2A3641;
    border-right: 7px solid #2A3641; } }

.title-section-content {
  font-size: 20px; }

.section {
  padding: 16px 24px 24px 24px;
  margin: 16px auto;
  clear: both;
  overflow: auto;
  max-width: 950px; }

.section-image {
  width: 100%;
  margin: 0 16px 0 0; }

.section-block, .header-section-block {
  padding: 16px; }

.section-block {
  margin: .32px; }

@media only screen and (min-width: 1023px) {
  .section-image, .section-block {
    width: 48%;
    display: inline-block; } }

.visually-hidden {
  /*https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html*/
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

body:hover .visually-hidden a, body:hover .visually-hidden input, body:hover .visually-hidden button {
  display: none !important; }

.fa {
  cursor: pointer; }

footer .fa {
  color: #2A3641; }

.fa-user-circle-o, .fa-bars {
  color: #2A3641; }

.fa-user-circle-o {
  float: right; }

.fa-bars {
  float: left; }

@media only screen and (min-width: 880px) {
  i.fa-bars {
    display: none; } }

button {
  width: 100%;
  padding: 16px;
  text-align: center;
  font-size: 16px;
  margin-top: 16px;
  font-weight: bold;
  cursor: pointer; }
  @media only screen and (min-width: 1023px) {
    button {
      max-width: 400px; } }

.signup-button, .login-button, .submit-button, .profile-button, .dashboard-button {
  background: #FFAD0D;
  color: white;
  border: none; }
  .signup-button:hover, .login-button:hover, .submit-button:hover, .profile-button:hover, .dashboard-button:hover {
    background: #f3a000; }

.section-button {
  background: white;
  color: #2A3641;
  border: 2px solid #2A3641; }
  .section-button:hover {
    background: #2A3641;
    color: white; }

.showlist-main-button, .showlist-trip-button, .showlist-wish-button {
  width: 75px;
  font-weight: normal;
  margin: .5em;
  padding: .6em;
  cursor: none; }

.showlist-main-button, .showlist-trip-button, .showlist-wish-button {
  position: absolute;
  right: 10px; }

.showlist-main-button, .showlist-wish-button {
  color: white;
  border: none; }

.showlist-main-button {
  background: #FFAD0D; }

.showlist-trip-button {
  background: white;
  color: #2A3641;
  border: 2px solid #2A3641; }

.showlist-wish-button {
  background: #2A3641; }

textarea {
  resize: none;
  width: 100%;
  padding: 16px;
  margin: 16px 0;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid #2A3641;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none; }
  textarea::placeholder {
    padding: .5em;
    font-size: 16px; }

.form-label {
  font-weight: bold; }

select {
  appearance: button;
  -moz-appearance: button;
  -webkit-appearance: button;
  display: block;
  border-radius: 0;
  background: white;
  color: #717171; }

input, select {
  height: 45px;
  width: 100%;
  padding: 8px 16px;
  margin: 16px 0;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid #2A3641;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none; }
  input::placeholder, select::placeholder {
    padding: 0;
    font-size: 16px; }

input:focus, select:focus, textarea:focus {
  border: 2px solid #FFAD0D; }

.review-content-box {
  height: 200px; }

.privacy-toggle {
  margin: 20px 0; }
  .privacy-toggle p {
    margin: 15px 0; }

.privacy-button {
  position: relative;
  display: inline-block;
  width: 112px;
  height: 35.2px; }

.privacy-button input {
  display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid #2A3641; }

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 48px;
  left: 3.2px;
  bottom: 3.2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid #2A3641; }

input:checked + .slider {
  background-color: #FFAD0D; }

input:focus + .slider {
  box-shadow: 0 0 1px #FFAD0D; }

input:checked + .slider:before {
  -webkit-transform: translateX(52.8px);
  -ms-transform: translateX(52.8px);
  transform: translateX(52.8px); }

.slider {
  border-radius: 32px; }

.slider:before {
  border-radius: 32px; }

.form-control {
  width: 100%; }

.form-link {
  text-align: center;
  margin: 16px 0 0 0; }
  .form-link a {
    color: #2A3641; }
    .form-link a:hover {
      color: #FFAD0D; }

.form-content, .form-title {
  text-align: center; }

.form-submit {
  text-align: center; }

.login-form button, .signup-form button, .review-form button, .feature-form button, .showlist-form button {
  width: 100%; }
@media only screen and (min-width: 769px) {
  .login-form, .signup-form, .review-form, .feature-form, .showlist-form {
    text-align: center; }
    .login-form .form-group, .signup-form .form-group, .review-form .form-group, .feature-form .form-group, .showlist-form .form-group {
      text-align: left; } }

@media only screen and (min-width: 769px) {
  .login-form, .signup-form {
    width: 60%; } }

@media only screen and (min-width: 769px) {
  .review-form, .feature-form, .showlist-form {
    width: 80%; } }

@media only screen and (min-width: 769px) {
  .signup-complete {
    width: 60%;
    text-align: center; } }

.showlist-form h3 {
  text-align: left; }

.list-type-radio-buttons {
  text-align: left; }
  .list-type-radio-buttons label {
    margin: 0 20px; }
  .list-type-radio-buttons .radio {
    margin: 0 10px; }

.showlist-radio {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  margin: 0; }

nav {
  padding: 32px 22.4px 0 22.4px;
  text-align: center; }
  @media only screen and (min-width: 641px) {
    nav {
      padding: 48px 48px 0 48px;
      margin-bottom: -5px; } }

.logo {
  width: 230px; }
  @media only screen and (min-width: 880px) {
    .logo {
      float: left; } }

.nav-header {
  text-align: center; }

.navigation-links {
  padding-top: 16px;
  text-align: center;
  display: none; }
  @media only screen and (min-width: 880px) {
    .navigation-links {
      display: inline-block;
      float: right;
      margin-right: 20px;
      padding: 5px 0; } }
  @media only screen and (min-width: 880px) {
    .navigation-links li {
      display: inline-block; }
      .navigation-links li:after {
        content: ' | '; }
      .navigation-links li:last-child:after {
        content: ''; } }
  .navigation-links li a {
    text-decoration: none;
    color: #2A3641; }
    .navigation-links li a:hover {
      border-bottom: 5px solid #2A3641; }
  .navigation-links li .nav-dashboard, .navigation-links li .nav-profile {
    background: #2A3641;
    color: white;
    padding: 8px;
    display: inline-block;
    width: 159px; }
  .navigation-links li .login {
    background: #2A3641;
    color: white;
    padding: 4.8px 8px;
    display: inline-block; }

.search-bar {
  width: 95%; }

footer {
  text-align: center;
  padding: 16px;
  background: #E5E5E5;
  color: #2A3641;
  font-weight: 300;
  margin: 0 auto; }
  @media only screen and (min-width: 767px) {
    footer {
      width: 80%; } }

@media only screen and (min-width: 641px) {
  .home-page {
    padding: 30px 0; } }

@media only screen and (min-width: 1023px) {
  .home-list-section img {
    float: right; } }

.home-badges-section .section-image, .home-reviews-section .section-image {
  margin-bottom: 20px; }

.header-image-section {
  text-align: center;
  margin-top: 30px; }

.header-section-content {
  padding: 20px;
  text-align: left; }

.header-image {
  border: 15px solid #2A3641;
  width: 100%;
  max-width: 900px; }

.header-section-block {
  text-align: center;
  margin: 0 auto;
  width: 90%; }
  @media only screen and (min-width: 769px) {
    .header-section-block .signup-button {
      width: 60%; } }

.dashboard-section-title {
  text-align: center; }

.review-alert, .feature-alert {
  width: 100%;
  padding: 24px;
  margin: 24px 0;
  position: relative; }

.review-alert {
  background: #2A3641;
  color: white; }
  .review-alert a {
    color: white; }
  .review-alert a:hover {
    color: #FFAD0D; }

.feature-alert {
  background: #FFAD0D;
  color: #2A3641; }
  .feature-alert a {
    color: #2A3641; }
  .feature-alert a:hover {
    color: white; }

.alert-title, .close-alert {
  display: inline-block;
  font-weight: bold;
  font-size: 19.2px; }

.alert-header {
  padding: 0 0 16px 0; }

.close-alert {
  position: absolute;
  right: 25px; }

.review-summary-header {
  position: relative; }
  .review-summary-header .fa-pencil {
    float: right;
    position: absolute;
    right: 0; }

.dashboard.review-title {
  clear: both; }

.review {
  margin: 24px 0; }

.write-buttons {
  text-align: center; }
  @media only screen and (min-width: 769px) {
    .write-buttons button {
      display: inline-block;
      margin: 0 10px; } }

.reviews-illustration {
  border-top: 2px solid #2A3641;
  border-bottom: 2px solid #2A3641; }
  @media only screen and (min-width: 641px) {
    .reviews-illustration {
      border: 2px solid #2A3641; } }

@media only screen and (min-width: 641px) {
  .review {
    display: inline-block;
    margin: 10px 5px;
    width: 48%;
    vertical-align: top; } }

i.fa-pencil {
  color: #2A3641;
  font-size: 1.4em; }

.show-title {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 8px; }

.review-image {
  width: 150px; }

.review-title {
  font-style: italic;
  margin: 8px 0; }

.rating-image {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 250px;
  height: 50px;
  overflow: hidden;
  position: relative;
  background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFMAAABTAgMAAACe3NOTAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACVBMVEUqNkEqNkEAAACenJHkAAAAAXRSTlMAQObYZgAAAAFiS0dEAmYLfGQAAAAJcEhZcwAALiMAAC4jAXilP3YAAAAHdElNRQfhBBoGOyI2t6HSAAAA4UlEQVQ4y73UQQ4CIQwFUFh074b7cIQu2vtfRRgZSuFP0kRjFzp50U9pjSnNeiVUEtescSWtYS3KYVWVqGZVjSo1rUEtTfkrbQgahtrbPRvGSpfWkJZLOaQX7q2pnlzU6g7J6st92UoQdsZagPK4qq96dDC6gD2AYJ4z9LEJBMPLyTEbmw+B2IeZPeh2nIBV2DIIHLYHHxteY/GOfbD91DKKXYPll4pP+6/iOfxX8YY+mpHy/eZ0XNErp/0/rYyzyencjFvRbJO8yvHUn+8bkVOb/6JLO4suy5qa7aPtw/3lDRu1A/KxXntvAAAAAElFTkSuQmCC");
  background-size: contain; }
  .rating-image i {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    z-index: 1;
    background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFMAAABTAgMAAACe3NOTAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACVBMVEX/rQ3/rQ0AAAAEql4gAAAAAXRSTlMAQObYZgAAAAFiS0dEAmYLfGQAAAAJcEhZcwAALiMAAC4jAXilP3YAAAAHdElNRQfhBBoGODoO9mpHAAAA4UlEQVQ4y73UQQ4CIQwFUFh074b7cIQu2vtfRRgZSuFP0kRjFzp50U9pjSnNeiVUEtescSWtYS3KYVWVqGZVjSo1rUEtTfkrbQgahtrbPRvGSpfWkJZLOaQX7q2pnlzU6g7J6st92UoQdsZagPK4qq96dDC6gD2AYJ4z9LEJBMPLyTEbmw+B2IeZPeh2nIBV2DIIHLYHHxteY/GOfbD91DKKXYPll4pP+6/iOfxX8YY+mpHy/eZ0XNErp/0/rYyzyencjFvRbJO8yvHUn+8bkVOb/6JLO4suy5qa7aPtw/3lDRu1A/KxXntvAAAAAElFTkSuQmCC");
    background-size: contain; }
  .rating-image input {
    -moz-appearance: none;
    -webkit-appearance: none;
    opacity: 0;
    display: inline-block;
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: relative; }
    .rating-image input:hover + i, .rating-image input:checked + i {
      opacity: 1; }
  .rating-image i ~ i {
    width: 40%; }
  .rating-image i ~ i ~ i {
    width: 60%; }
  .rating-image i ~ i ~ i ~ i {
    width: 80%; }
  .rating-image i ~ i ~ i ~ i ~ i {
    width: 100%; }

.lists-illustration {
  border-bottom: 2px solid #2A3641; }

.showlist-summary, .showlist-stats {
  padding: 8px; }

.showlist-summary {
  border: 1px solid #2A3641;
  margin: 10px 0;
  position: relative; }
  @media only screen and (min-width: 769px) {
    .showlist-summary {
      display: inline-block;
      margin: 10px 5px;
      width: 48%;
      min-height: 180px;
      overflow: auto; } }

.showlist-title {
  float: left;
  width: 70%;
  font-weight: bold;
  padding: 16px 8px 0 8px; }

.showlist-content {
  clear: both;
  padding: 24px 8px 0 8px; }

.showlist-username, .showlist-show-count {
  display: inline-block; }

.showlist-show-count {
  position: absolute;
  right: 35px; }

.showlist-username {
  font-style: italic;
  cursor: pointer; }
  .showlist-username:hover {
    color: #FFAD0D; }

.feature-summary {
  padding: 10px;
  margin: 10px 0;
  height: 100px;
  background: #E5E5E5;
  position: relative; }
  @media only screen and (min-width: 641px) {
    .feature-summary {
      display: inline-block;
      width: 45%;
      margin: 10px; } }

.feature-title {
  font-weight: bold;
  padding: 0 0 8px 0; }

.badge-item {
  text-align: center;
  display: inline-block;
  width: 80%;
  margin: 20px 10px; }
  @media only screen and (min-width: 769px) {
    .badge-item {
      width: 45%; } }
  @media only screen and (min-width: 1023px) {
    .badge-item {
      width: 30%; } }

.badge-suggestion {
  text-align: center; }
  @media only screen and (min-width: 769px) {
    .badge-suggestion input {
      width: 60%; } }

.showlist-item > li {
  display: inline-block; }

.curtains {
  position: absolute; }

#Dancers {
  animation: dancers-appear 20s infinite; }

#CinderellaDance {
  animation: cinderella-appear 20s infinite; }

#RomeoAndJuliet {
  animation: romeo-appear 20s infinite; }

#LeftCurtainLargeGroup {
  -ms-transform: translateX(-300px);
  -webkit-transform: translateX(-300px);
  transform: translateX(-300px); }

#RightCurtainLargeGroup {
  -ms-transform: translateX(270px);
  -webkit-transform: translateX(270px);
  transform: translateX(270px); }

@keyframes dancers-appear {
  0%,100% {
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  22% {
    -ms-transform: translateX(-600px);
    -webkit-transform: translateX(-600px);
    transform: translateX(-600px); }
  60% {
    -ms-transform: translateX(-900px);
    -webkit-transform: translateX(-900px);
    transform: translateX(-900px); } }
@keyframes romeo-appear {
  0%,100% {
    -ms-transform: translateX(800px);
    -webkit-transform: translateX(800px);
    transform: translateX(800px); }
  35% {
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  50% {
    -ms-transform: translateX(1000px);
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px); } }
@keyframes cinderella-appear {
  0%,100% {
    -ms-transform: translateX(-1000px);
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px); }
  35% {
    -ms-transform: translateX(-550px);
    -webkit-transform: translateX(-550px);
    transform: translateX(-550px); }
  60% {
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px); } }
@keyframes curtain-open-left {
  0% {
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  50% {
    -ms-transform: translateX(-270px);
    -webkit-transform: translateX(-270px);
    transform: translateX(-270px); }
  100% {
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px); } }
@keyframes curtain-open-right {
  0% {
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  50% {
    -ms-transform: translateX(270px);
    -webkit-transform: translateX(270px);
    transform: translateX(270px); }
  100% {
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px); } }

/*# sourceMappingURL=main.css.map */
