//GENERAL

$yellow: #FFAD0D;
$blue: #2A3641;
$gray: #717171;

* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    @media only screen and (min-width: 641px) {
        background: #ccc;
    }
}

main {
    @media only screen and (min-width: 641px) {
        padding: 1.5em;
        width: 80%;
        background: white;
        margin: 0 auto;
    }
}

button {
  border: none;
}

nav {
    padding: 1.5em 1em;
    @media only screen and (min-width: 641px) {
        @extend main;
    }
}

.visually-hidden { /*https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html*/
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
} 
body:hover .visually-hidden a, body:hover .visually-hidden input, body:hover .visually-hidden button { display: none !important; }

// NAVIGATION

.logo {
    width: 12em;
    @media only screen and (min-width: 641px) {
        display: inline-block;
    }
}

.search-bar {
    height: 40px;
    width: 100%;
    border: 2px solid $blue;
    padding: .5em 0;
    margin-top: 2em;
    &::placeholder {
        padding: .5em;
        font-size: 1.5em;
    }
}

.navigation-links {
    padding-top: 1em;
    text-align: center;
    @media only screen and (min-width: 641px) {
        display: inline-block;
        float: right;
    }
    li {
        display: inline-block;  
        height: 2em;
        padding: .5em .4em;
        a {
            text-decoration: none;
        }   
    }
}

.login, .logout {
    background: $blue;
    a {
        color: white; 
    }          
}  

//FOOTER

footer {
    width: 100%;
    text-align: center;
    padding: 1em;
    background: $blue;
    color: white;
    font-weight: 300;
    .fa {
      color: white;
      margin: 0 0 .5em 0;
      padding: .2em .5em;
    }
}

//HOMEPAGE

.home-page {
    .home-image, .section-image {
        width: 100%;
    }
      .header-image {
        .section-block {
            margin: 2em;
            width: 80%; 
            .signup {
              width: 100%;
              padding: 1em;
              text-align: center;
              background: $yellow;
              color: white;
              font-weight: bold;
              font-size: 1em;
              margin-top: 1em;              
            }
        }
      }

    .section {
        .section-block {
            margin: 2em;
            width: 80%;   
        }
        .section-title {
            color: $blue;
            font-weight: bold;
            font-size: 2em;
            margin-bottom: .5em;
        }
        .section-content {
            line-height: 1.4;
        }
        .section-button {
            width: 100%;
            padding: 1em;
            text-align: center;
            background: white;
            color: $blue;
            border: 2px solid $blue;
            font-weight: bold;
            font-size: 1em;
            margin-top: 1em;  
        }  
        @media only screen and (min-width: 641px) {
            .section {
                margin-bottom: 14em;
            }
            img {
            width: 45%;
            display: inline-block;
            }
            .section-block {
            width: 45%;
            display: inline-block;
            }
        }
    }
}

// REVIEW PAGE

.rating-image{
  font-size:0;
  white-space:nowrap;
  display:inline-block;
  width:250px;
  height:50px;
  overflow:hidden;
  position:relative;
  background:
      url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFMAAABTAgMAAACe3NOTAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACVBMVEUqNkEqNkEAAACenJHkAAAAAXRSTlMAQObYZgAAAAFiS0dEAmYLfGQAAAAJcEhZcwAALiMAAC4jAXilP3YAAAAHdElNRQfhBBoGOyI2t6HSAAAA4UlEQVQ4y73UQQ4CIQwFUFh074b7cIQu2vtfRRgZSuFP0kRjFzp50U9pjSnNeiVUEtescSWtYS3KYVWVqGZVjSo1rUEtTfkrbQgahtrbPRvGSpfWkJZLOaQX7q2pnlzU6g7J6st92UoQdsZagPK4qq96dDC6gD2AYJ4z9LEJBMPLyTEbmw+B2IeZPeh2nIBV2DIIHLYHHxteY/GOfbD91DKKXYPll4pP+6/iOfxX8YY+mpHy/eZ0XNErp/0/rYyzyencjFvRbJO8yvHUn+8bkVOb/6JLO4suy5qa7aPtw/3lDRu1A/KxXntvAAAAAElFTkSuQmCC');
  background-size: contain;
  i{
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    z-index: 1;
    background: 
        url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFMAAABTAgMAAACe3NOTAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACVBMVEX/rQ3/rQ0AAAAEql4gAAAAAXRSTlMAQObYZgAAAAFiS0dEAmYLfGQAAAAJcEhZcwAALiMAAC4jAXilP3YAAAAHdElNRQfhBBoGODoO9mpHAAAA4UlEQVQ4y73UQQ4CIQwFUFh074b7cIQu2vtfRRgZSuFP0kRjFzp50U9pjSnNeiVUEtescSWtYS3KYVWVqGZVjSo1rUEtTfkrbQgahtrbPRvGSpfWkJZLOaQX7q2pnlzU6g7J6st92UoQdsZagPK4qq96dDC6gD2AYJ4z9LEJBMPLyTEbmw+B2IeZPeh2nIBV2DIIHLYHHxteY/GOfbD91DKKXYPll4pP+6/iOfxX8YY+mpHy/eZ0XNErp/0/rYyzyencjFvRbJO8yvHUn+8bkVOb/6JLO4suy5qa7aPtw/3lDRu1A/KxXntvAAAAAElFTkSuQmCC');  
    background-size: contain;
  }
  input{ 
    -moz-appearance:none;
    -webkit-appearance:none;
    opacity: 0;
    display:inline-block;
    width: 20%;
    height: 100%; 
    margin:0;
    padding:0;
    z-index: 2;
    position: relative;
    &:hover + i,
    &:checked + i{
      opacity:1;    
    }
  }
  i ~ i{
    width: 40%;
  }
  i ~ i ~ i{
    width: 60%;
  }
  i ~ i ~ i ~ i{
    width: 80%;
  }
  i ~ i ~ i ~ i ~ i{
    width: 100%;
  }
}

///////


.badge-text-suggestion, .badge-name-suggestion, .form-control {
	border: 1px solid black;
}

.badge-image {
	border-radius: 50%;
}

.icon {
    fill: $blue;
}

.icon-star-o {
    fill: $blue;
}

//PRIVATE vs PUBLIC SLIDER BUTTON FOR FORMS

.privacy-button {
  position: relative;
  display: inline-block;
  width: 7em;
  height: 2.2em;
}

.privacy-button input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid $blue;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.5em;
  width: 3em;
  left: .2em;
  bottom: .2em;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid $blue;
}

input:checked + .slider {
  background-color: $yellow;
}

input:focus + .slider {
  box-shadow: 0 0 1px $yellow;
}

input:checked + .slider:before {
  -webkit-transform: translateX(3.3em);
  -ms-transform: translateX(3.3em);
  transform: translateX(3.3em);
}


.slider {
  border-radius: 2em;
}

.slider:before {
  border-radius: 2em;
}

.form-control {
    width: 100%;
}