//GENERAL

$yellow: #FFAD0D;
$blue: #2A3641;
$gray: #717171;
$lightgray: #E5E5E5;

* {
    box-sizing: border-box;
}

html {
  height: 100%;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    height: 100%;
    @media only screen and (min-width: 641px) {
        background: $blue;
    }
}

main, nav {
    @media only screen and (min-width: 641px) {
        background: white;
        max-width: 80%;
        margin: 0 auto;
        padding: 30px;
    }
}

.section-title {
  color: $blue;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 10px;
}

.header-section-content {
  font-size: 25px;
}

.home-illustration {
  @media only screen and (min-width: 641px) {
    width: 80%;
    border-left: 7px solid $blue;
    border-right: 7px solid $blue;
  }
}

.title-section-content {
  font-size: 20px;
}

.section {
  padding: 1em 1.5em 1.5em 1.5em;
  margin: 1em auto;
  clear: both;
  overflow: auto;
  max-width: 950px;
}

.section-image {
  width: 100%;
  margin: 0 1em 0 0;
}

.section-block, .header-section-block {
  padding: 1em;
}

.section-block {
  margin: .2em;
}

.section-image, .section-block {
  @media only screen and (min-width: 1023px) {
    width: 48%;
    display: inline-block;
  }
}

.visually-hidden { /*https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html*/
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
} 
body:hover .visually-hidden a, body:hover .visually-hidden input, body:hover .visually-hidden button { display: none !important; }

//ICONS 

.fa {
  cursor: pointer;
}

footer {
  .fa {
    color: $blue;
  }
}


.fa-user-circle-o, .fa-bars {
  color: $blue;
}

.fa-user-circle-o {
  float: right;
}

.fa-bars {
  float: left;
}

i.fa-bars {
    @media only screen and (min-width: 880px) {
        display: none;
    }    
}

//BUTTONS

button {
  width: 100%;
  padding: 1em;
  text-align: center; 
  font-size: 1em;
  margin-top: 1em; 
  font-weight: bold;   
  cursor: pointer;
    @media only screen and (min-width: 1023px) {
      max-width: 400px;
    }
}

.signup-button, .login-button, .submit-button, .profile-button, .dashboard-button {
  background: $yellow;
  color: white; 
  border: none;
  &:hover {
    background: darken($yellow, 5%);
  }         
}

.section-button {
    background: white;
    color: $blue;
    border: 2px solid $blue;
      &:hover {
        background: $blue;
        color: white;
      }    
}  

.showlist-main-button, .showlist-trip-button, .showlist-wish-button{
  width: 75px;
  font-weight: normal;
  margin: .5em;
  padding: .6em;
  cursor: none;
}

.showlist-main-button, .showlist-trip-button, .showlist-wish-button {
  position: absolute;
  right: 10px;
}

.showlist-main-button, .showlist-wish-button {
  color: white;
  border: none;
}

.showlist-main-button {
  background: $yellow;
}

.showlist-trip-button {
  background: white;
  color: $blue;
  border: 2px solid $blue;
}

.showlist-wish-button {
  background: $blue;
}

//FORMS

textarea {
  resize: none;
  width: 100%;
  padding: 1em;
  margin: 1em 0;
  font-size: 1em;
  cursor: pointer;
  border: 2px solid $blue;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  &::placeholder {
    padding: .5em;
    font-size: 1em;
  }
}

.form-label {
  font-weight: bold;
}

select {
  appearance:button;
  -moz-appearance:button; 
  -webkit-appearance:button;
  display: block;
  border-radius: 0;
  background: white;
  color: $gray;
}

input, select {
    height: 45px;
    width: 100%;
    padding: .5em 1em;
    margin: 1em 0;
    font-size: 1em;
    cursor: pointer;
    border: 2px solid $blue;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    &::placeholder {
        padding: 0;
        font-size: 1em;
    }
}

input:focus, select:focus, textarea:focus {
    border: 2px solid $yellow;
}

.review-content-box {
  height: 200px;
}

.privacy-toggle {
  margin: 20px 0;
  p {
    margin: 15px 0;
  }
}

.privacy-button {
  position: relative;
  display: inline-block;
  width: 7em;
  height: 2.2em;
}

.privacy-button input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid $blue;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.5em;
  width: 3em;
  left: .2em;
  bottom: .2em;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid $blue;
}

input:checked + .slider {
  background-color: $yellow;
}

input:focus + .slider {
  box-shadow: 0 0 1px $yellow;
}

input:checked + .slider:before {
  -webkit-transform: translateX(3.3em);
  -ms-transform: translateX(3.3em);
  transform: translateX(3.3em);
}

.slider {
  border-radius: 2em;
}

.slider:before {
  border-radius: 2em;
}

.form-control {
    width: 100%;
}

.form-link {
  text-align: center;
  margin: 1em 0 0 0;
  a {
    color: $blue;
    &:hover {
      color: $yellow;
    }
  }
}

.form-content, .form-title {
  text-align: center;
}

.form-submit {
  text-align: center;
}

.login-form, .signup-form, .review-form, .feature-form, .showlist-form {
  button {
    width: 100%;
  }
  @media only screen and (min-width: 769px) {
    text-align: center;
    .form-group {
      text-align: left;
    }
  }
}

.login-form, .signup-form {
  @media only screen and (min-width: 769px) {
    width: 60%;
  }
}

.review-form, .feature-form, .showlist-form {
@media only screen and (min-width: 769px) {
    width: 80%;
  }  
}

.signup-complete {
  @media only screen and (min-width: 769px) {
    width: 60%;
    text-align: center;
  }
}

.showlist-form {
  h3 {
    text-align: left;
  }
}

.list-type-radio-buttons {
  text-align: left;
  label {
    margin: 0 20px;
  }
  .radio {
    margin: 0 10px;
  }
}

.showlist-radio {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  margin: 0;
}

//NAVIGATION

nav {
  padding: 2em 1.4em 0 1.4em;
  text-align: center;
  @media only screen and (min-width: 641px) {
    padding: 3em 3em 0 3em;
    margin-bottom: -5px;
  }
}

.logo {
    width: 230px;
        @media only screen and (min-width: 880px) {
        float: left;
    }    
}

.nav-header {
  text-align: center;
}

.navigation-links {
    padding-top: 1em;
    text-align: center;
    display: none;
      @media only screen and (min-width: 880px) {
        display: inline-block;
        float: right;
        margin-right: 20px;
        padding: 5px 0;
      }    
    li { 
        @media only screen and (min-width: 880px) {
        display: inline-block;
          &:after {
            content: ' | ';
          }
          &:last-child:after {
            content: '';
          }
        }
        a {
            text-decoration: none;
            color: $blue;
          &:hover {
            border-bottom: 5px solid $blue;
          }
        }   
        .nav-dashboard, .nav-profile {
          background: $blue;
          color: white;
          padding: .5em;
          display: inline-block;
          width: 159px;
        }
        .login {
          background: $blue;
          color: white;
          padding: .3em .5em; 
          display: inline-block;
        }
    }
}

.search-bar {
  width: 95%;
}



//FOOTER

footer {
    text-align: center;
    padding: 1em;
    background: $lightgray;
    color: $blue;
    font-weight: 300;
    margin: 0 auto;
    @media only screen and (min-width: 767px) {
      width: 80%;
    }
}

//HOME PAGAE

.home-page {
  @media only screen and (min-width: 641px) {
        padding: 30px 0;
    }
}

.home-list-section {
  @media only screen and (min-width: 1023px) {
    img {
      float: right;
    }
  }
}

.home-badges-section, .home-reviews-section {
  .section-image {
    margin-bottom: 20px;
  }
}

.header-image-section{ 
  text-align: center;
  margin-top: 30px;
}

.header-section-content {
    padding: 20px;
    text-align: left;
}

.header-image {
  border: 15px solid $blue;
  width: 100%;
  max-width: 900px;
}

.header-section-block {
  text-align: center;
  margin: 0 auto;
  width: 90%;
  @media only screen and (min-width: 769px) {
      .signup-button {
      width: 60%;
    }
  }
}

//DASHBOARD 

.review-alert, .feature-alert {
  width: 100%;
  padding: 1.5em;
  margin: 1.5em 0;
  position: relative;
}

.review-alert {
  background: $blue;
  color: white;
  a {
    color: white;
  }
  a:hover {
    color: $yellow;
  }
}

.feature-alert {
  background: $yellow;
  color: $blue;
  a {
    color: $blue;
 }
   a:hover {
    color: white;
  }
}

.alert-title, .close-alert {
   display: inline-block;
   font-weight: bold;
  font-size: 1.2em;
}

.alert-header {
  padding: 0 0 1em 0;
}

.close-alert {
  position: absolute;
  right: 25px;
}

.review-summary-header {
  position: relative;
  .fa-pencil {
    float: right;
    position: absolute;
    right: 0;
  }
}

  .dashboard.review-title {
    clear: both;
  }

  .review {
    margin: 1.5em 0;
  }

.write-buttons {
  text-align: center;
    button {
      @media only screen and (min-width: 769px) {  
        display: inline-block;
        margin: 0 10px;
      }
    }
}

//REVIEWS

.reviews-illustration {
  border-top: 2px solid $blue;
  border-bottom: 2px solid $blue;
  @media only screen and (min-width: 641px) {
    border: 2px solid $blue;
  }
}

.review {
  @media only screen and (min-width: 641px) {
    display: inline-block;
    margin: 10px 5px;
    width: 48%;
    vertical-align: top;
  }
}

i.fa-pencil {
  color: $blue;
  font-size: 1.4em;
}

.show-title {
    font-weight: 400;
    font-size: 1.5em;
    margin-bottom: .5em;
}

.review-image {
  width: 150px;
}

.review-title {
  font-style: italic;
  margin: .5em 0;
}

.rating-image{
  font-size:0;
  white-space:nowrap;
  display:inline-block;
  width:250px;
  height:50px;
  overflow:hidden;
  position:relative;
  background:
      url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFMAAABTAgMAAACe3NOTAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACVBMVEUqNkEqNkEAAACenJHkAAAAAXRSTlMAQObYZgAAAAFiS0dEAmYLfGQAAAAJcEhZcwAALiMAAC4jAXilP3YAAAAHdElNRQfhBBoGOyI2t6HSAAAA4UlEQVQ4y73UQQ4CIQwFUFh074b7cIQu2vtfRRgZSuFP0kRjFzp50U9pjSnNeiVUEtescSWtYS3KYVWVqGZVjSo1rUEtTfkrbQgahtrbPRvGSpfWkJZLOaQX7q2pnlzU6g7J6st92UoQdsZagPK4qq96dDC6gD2AYJ4z9LEJBMPLyTEbmw+B2IeZPeh2nIBV2DIIHLYHHxteY/GOfbD91DKKXYPll4pP+6/iOfxX8YY+mpHy/eZ0XNErp/0/rYyzyencjFvRbJO8yvHUn+8bkVOb/6JLO4suy5qa7aPtw/3lDRu1A/KxXntvAAAAAElFTkSuQmCC');
  background-size: contain;
  i{
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    z-index: 1;
    background: 
        url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFMAAABTAgMAAACe3NOTAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACVBMVEX/rQ3/rQ0AAAAEql4gAAAAAXRSTlMAQObYZgAAAAFiS0dEAmYLfGQAAAAJcEhZcwAALiMAAC4jAXilP3YAAAAHdElNRQfhBBoGODoO9mpHAAAA4UlEQVQ4y73UQQ4CIQwFUFh074b7cIQu2vtfRRgZSuFP0kRjFzp50U9pjSnNeiVUEtescSWtYS3KYVWVqGZVjSo1rUEtTfkrbQgahtrbPRvGSpfWkJZLOaQX7q2pnlzU6g7J6st92UoQdsZagPK4qq96dDC6gD2AYJ4z9LEJBMPLyTEbmw+B2IeZPeh2nIBV2DIIHLYHHxteY/GOfbD91DKKXYPll4pP+6/iOfxX8YY+mpHy/eZ0XNErp/0/rYyzyencjFvRbJO8yvHUn+8bkVOb/6JLO4suy5qa7aPtw/3lDRu1A/KxXntvAAAAAElFTkSuQmCC');  
    background-size: contain;
  }
  input{ 
    -moz-appearance:none;
    -webkit-appearance:none;
    opacity: 0;
    display:inline-block;
    width: 20%;
    height: 100%; 
    margin:0;
    padding:0;
    z-index: 2;
    position: relative;
    &:hover + i,
    &:checked + i{
      opacity:1;    
    }
  }
  i ~ i{
    width: 40%;
  }
  i ~ i ~ i{
    width: 60%;
  }
  i ~ i ~ i ~ i{
    width: 80%;
  }
  i ~ i ~ i ~ i ~ i{
    width: 100%;
  }
}

//SHOW LISTS
.lists-illustration {
  border-bottom: 2px solid $blue;
}

.showlist-summary, .showlist-stats {
    padding: .5em;
}

.showlist-summary {
  border: 1px solid $blue;
  margin: 10px 0;
  position: relative;
  @media only screen and (min-width: 769px) {
    display: inline-block;
    margin: 10px 5px;
    width: 48%;
    min-height: 180px;
    overflow: auto;
  }
}

.showlist-title {
  float: left;
  width: 70%;
  font-weight: bold;
  padding: 1em .5em 0 .5em;
}

.showlist-content {
  clear: both;
  padding: 1.5em .5em 0 .5em;
}

.showlist-username, .showlist-show-count {
  display: inline-block;
}

.showlist-show-count {
  position: absolute;
  right: 35px;
}

.showlist-username {
  font-style: italic;
  cursor: pointer;
  &:hover {
    color: $yellow;
  }
}

//FEATURES

.feature-summary {
  padding: 10px;
  margin: 10px 0;
  height: 100px;
  background: $lightgray;
  position: relative;
  @media only screen and (min-width: 641px) {
    display: inline-block;
    width: 45%;
    margin: 10px;
  }
  
}

.feature-title {
  font-weight: bold;
  padding: 0 0 .5em 0;

}

//BADGES

.badge-item {
  text-align: center;
  display: inline-block;
  width: 80%;
  margin: 20px 10px;
  @media only screen and (min-width: 769px) { 
    width: 45%;
  }
  @media only screen and (min-width: 1023px) {
    width: 30%;
  }
}

.badge-suggestion {
  text-align: center;
  @media only screen and (min-width: 769px) {
    input {
      width: 60%;
    }
  }

}

//Home Animated SVG

@mixin translateY($px) {
   -ms-transform: translateY($px);
  -webkit-transform: translateY($px); 
   transform: translateY($px); 
}

@mixin translateX($px) {
   -ms-transform: translateX($px);
  -webkit-transform: translateX($px); 
   transform: translateX($px); 
}

.curtains {
  position: absolute;
}

#Dancers {
  animation: dancers-appear 20s infinite;
}

#CinderellaDance {
 animation: cinderella-appear 20s infinite; 
}

#RomeoAndJuliet {
  animation: romeo-appear 20s infinite;
}

#LeftCurtainLargeGroup {
  @include translateX(-300px);
  // animation: curtain-open-left 5s infinite;
} 

#RightCurtainLargeGroup {
  @include translateX(270px);
  // animation: curtain-open-right 5s infinite;
} 

@keyframes dancers-appear {
  0%,100% {
  @include translateX(0px); 
  } 
   22% {
  @include translateX(-600px);  
  }  60% {
  @include translateX(-900px); 
  }
}

@keyframes romeo-appear {
  0%,100% {
  @include translateX(800px); 
  } 
   35% {
  @include translateX(0px);  
  }  50% {
  @include translateX(1000px); 
  }
}

@keyframes cinderella-appear {
  0%,100% {
  @include translateX(-1000px); 
  } 
   35% {
  @include translateX(-550px);  
  }  60% {
  @include translateX(0px); 
  }
}

@keyframes curtain-open-left {
  0% {
  @include translateX(0px); 
  }
  50% {
  @include translateX(-270px);  
  }
   100% {
   @include translateX(0px);
  }
}

@keyframes curtain-open-right {
  0% {
  @include translateX(0px);
  }
  50% {
   @include translateX(270px); 
  }
   100% {
   @include translateX(0px); 
  }
} 