* {
  box-sizing: border-box; }

body {
  font-size: 16px; }
  @media only screen and (min-width: 641px) {
    body {
      background: #ccc; } }

@media only screen and (min-width: 641px) {
  main, nav {
    padding: 1.5em;
    width: 80%;
    background: white;
    margin: 0 auto; } }

nav {
  padding: 1.5em; }

.visually-hidden {
  /*https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html*/
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

body:hover .visually-hidden a, body:hover .visually-hidden input, body:hover .visually-hidden button {
  display: none !important; }

.logo {
  width: 12em; }
  @media only screen and (min-width: 641px) {
    .logo {
      display: inline-block; } }

.search-bar {
  width: 100%;
  border: 1px solid #2A3641;
  padding: .5em 0;
  margin-top: 2em; }
  .search-bar::placeholder {
    padding: 10px; }

.navigation-links {
  padding-top: 1em;
  text-align: center; }
  @media only screen and (min-width: 641px) {
    .navigation-links {
      display: inline-block;
      float: right; } }
  .navigation-links li {
    display: inline-block;
    height: 2em;
    margin: 0 .2em 0 0;
    padding: .5em .4em; }
    .navigation-links li a {
      text-decoration: none; }

.login, .logout {
  background: #2A3641; }
  .login a, .logout a {
    color: white; }

footer {
  width: 100%;
  text-align: center;
  padding: 1em; }

.home-page .home-image {
  width: 100%; }
.home-page .section .section-block {
  margin-bottom: 3em; }
@media only screen and (min-width: 641px) {
  .home-page .section .section {
    margin-bottom: 14em; }
  .home-page .section img {
    width: 45%;
    display: inline-block; }
  .home-page .section .section-block {
    width: 45%;
    display: inline-block; } }

.badge-text-suggestion, .badge-name-suggestion, .form-control {
  border: 1px solid black; }

.badge-image {
  border-radius: 50%; }

.icon {
  fill: red; }

.icon-star-o {
  fill: red; }

.privacy-button {
  position: relative;
  display: inline-block;
  width: 7em;
  height: 2.2em; }

.privacy-button input {
  display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid #2A3641; }

.slider:before {
  position: absolute;
  content: "";
  height: 1.5em;
  width: 3em;
  left: .2em;
  bottom: .2em;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid #2A3641; }

input:checked + .slider {
  background-color: #FFAD0D; }

input:focus + .slider {
  box-shadow: 0 0 1px #FFAD0D; }

input:checked + .slider:before {
  -webkit-transform: translateX(3.3em);
  -ms-transform: translateX(3.3em);
  transform: translateX(3.3em); }

.slider {
  border-radius: 2em; }

.slider:before {
  border-radius: 2em; }

.form-control {
  width: 100%; }

/*# sourceMappingURL=main.css.map */
