* {
  box-sizing: border-box; }

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif; }
  @media only screen and (min-width: 641px) {
    body {
      background: #ccc; } }

@media only screen and (min-width: 641px) {
  main, nav {
    padding: 1.5em;
    width: 80%;
    background: white;
    margin: 0 auto; } }

button {
  border: none; }

nav {
  padding: 1.5em 1em; }

.visually-hidden {
  /*https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html*/
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

body:hover .visually-hidden a, body:hover .visually-hidden input, body:hover .visually-hidden button {
  display: none !important; }

.logo {
  width: 12em; }
  @media only screen and (min-width: 641px) {
    .logo {
      display: inline-block; } }

.search-bar {
  height: 30px;
  width: 100%;
  border: 2px solid #2A3641;
  padding: .5em 0;
  margin-top: 2em; }
  .search-bar::placeholder {
    padding: .5em;
    font-size: 1.5em; }

.navigation-links {
  padding-top: 1em;
  text-align: center; }
  @media only screen and (min-width: 641px) {
    .navigation-links {
      display: inline-block;
      float: right; } }
  .navigation-links li {
    display: inline-block;
    height: 2em;
    padding: .5em .4em; }
    .navigation-links li a {
      text-decoration: none; }

.login, .logout {
  background: #2A3641; }
  .login a, .logout a {
    color: white; }

footer {
  width: 100%;
  text-align: center;
  padding: 1em; }

.home-page .home-image, .home-page .section-image {
  width: 100%; }
.home-page .header-image .section-block {
  margin: 2em;
  width: 80%; }
  .home-page .header-image .section-block .signup {
    width: 100%;
    padding: 1em;
    text-align: center;
    background: #FFAD0D;
    color: white;
    font-weight: bold;
    font-size: 1em;
    margin-top: 1em; }
.home-page .section .section-block {
  margin: 2em;
  width: 80%; }
.home-page .section .section-title {
  color: #2A3641;
  font-weight: bold;
  font-size: 2em;
  margin-bottom: .5em; }
.home-page .section .section-content {
  line-height: 1.4; }
.home-page .section .section-button {
  width: 100%;
  padding: 1em;
  text-align: center;
  background: white;
  color: #2A3641;
  border: 2px solid #2A3641;
  font-weight: bold;
  font-size: 1em;
  margin-top: 1em; }
@media only screen and (min-width: 641px) {
  .home-page .section .section {
    margin-bottom: 14em; }
  .home-page .section img {
    width: 45%;
    display: inline-block; }
  .home-page .section .section-block {
    width: 45%;
    display: inline-block; } }

.rating-image {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 250px;
  height: 50px;
  overflow: hidden;
  position: relative;
  background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFMAAABTAgMAAACe3NOTAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACVBMVEUqNkEqNkEAAACenJHkAAAAAXRSTlMAQObYZgAAAAFiS0dEAmYLfGQAAAAJcEhZcwAALiMAAC4jAXilP3YAAAAHdElNRQfhBBoGOyI2t6HSAAAA4UlEQVQ4y73UQQ4CIQwFUFh074b7cIQu2vtfRRgZSuFP0kRjFzp50U9pjSnNeiVUEtescSWtYS3KYVWVqGZVjSo1rUEtTfkrbQgahtrbPRvGSpfWkJZLOaQX7q2pnlzU6g7J6st92UoQdsZagPK4qq96dDC6gD2AYJ4z9LEJBMPLyTEbmw+B2IeZPeh2nIBV2DIIHLYHHxteY/GOfbD91DKKXYPll4pP+6/iOfxX8YY+mpHy/eZ0XNErp/0/rYyzyencjFvRbJO8yvHUn+8bkVOb/6JLO4suy5qa7aPtw/3lDRu1A/KxXntvAAAAAElFTkSuQmCC");
  background-size: contain; }
  .rating-image i {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    z-index: 1;
    background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFMAAABTAgMAAACe3NOTAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACVBMVEX/rQ3/rQ0AAAAEql4gAAAAAXRSTlMAQObYZgAAAAFiS0dEAmYLfGQAAAAJcEhZcwAALiMAAC4jAXilP3YAAAAHdElNRQfhBBoGODoO9mpHAAAA4UlEQVQ4y73UQQ4CIQwFUFh074b7cIQu2vtfRRgZSuFP0kRjFzp50U9pjSnNeiVUEtescSWtYS3KYVWVqGZVjSo1rUEtTfkrbQgahtrbPRvGSpfWkJZLOaQX7q2pnlzU6g7J6st92UoQdsZagPK4qq96dDC6gD2AYJ4z9LEJBMPLyTEbmw+B2IeZPeh2nIBV2DIIHLYHHxteY/GOfbD91DKKXYPll4pP+6/iOfxX8YY+mpHy/eZ0XNErp/0/rYyzyencjFvRbJO8yvHUn+8bkVOb/6JLO4suy5qa7aPtw/3lDRu1A/KxXntvAAAAAElFTkSuQmCC");
    background-size: contain; }
  .rating-image input {
    -moz-appearance: none;
    -webkit-appearance: none;
    opacity: 0;
    display: inline-block;
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: relative; }
    .rating-image input:hover + i, .rating-image input:checked + i {
      opacity: 1; }
  .rating-image i ~ i {
    width: 40%; }
  .rating-image i ~ i ~ i {
    width: 60%; }
  .rating-image i ~ i ~ i ~ i {
    width: 80%; }
  .rating-image i ~ i ~ i ~ i ~ i {
    width: 100%; }

.badge-text-suggestion, .badge-name-suggestion, .form-control {
  border: 1px solid black; }

.badge-image {
  border-radius: 50%; }

.icon {
  fill: #2A3641; }

.icon-star-o {
  fill: #2A3641; }

.privacy-button {
  position: relative;
  display: inline-block;
  width: 7em;
  height: 2.2em; }

.privacy-button input {
  display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid #2A3641; }

.slider:before {
  position: absolute;
  content: "";
  height: 1.5em;
  width: 3em;
  left: .2em;
  bottom: .2em;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid #2A3641; }

input:checked + .slider {
  background-color: #FFAD0D; }

input:focus + .slider {
  box-shadow: 0 0 1px #FFAD0D; }

input:checked + .slider:before {
  -webkit-transform: translateX(3.3em);
  -ms-transform: translateX(3.3em);
  transform: translateX(3.3em); }

.slider {
  border-radius: 2em; }

.slider:before {
  border-radius: 2em; }

.form-control {
  width: 100%; }

/*# sourceMappingURL=main.css.map */
